.about_page{
  display: flex;
  flex-direction: column;
}

.about_page h3{
  margin-bottom: 20px;
}

.about_page h4{
  line-height: 1.5em;
}

.about_list{
  list-style-type: disc;
  position: relative;
  left: 40px;
  margin-bottom: 15px;
}

.about_list li {
  line-height: 1.3em;
}

.about_collaborators{
  position: relative;
  left: 20px;
  margin-bottom: 20px;
}

.source {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  min-height: 200px;
}

.about_source_list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}

.about_source_list li {
  line-height: 1.3em;
}

.about_source_image {
  max-height: 300px;
  width: auto;
}

#facsimile2016 {
  content: url(/assets/about/LivroDasFortalezas2016-7503c117133cb19e121ef97750bbcef6955ba25a71e4b0ab89df3edbfe40fe52.png);
}

#codexB {
  content: url(/assets/about/CodexB-fead8dbf295f04362467103f4da887d0415818f463acf4baac152b6515d24db8.png);
}

#watercolors {
  content: url(/assets/about/watercolor-35dff6fff26555ad96523267a9ca00a406e331cda1e831adad8af42419f8b85b.png);
}

.source_info {
  padding-left: 20px;
}
