<div class="about_page">

<h2>About the Project</h2>
  <p>
    The aim of this project is to spatially reconstruct an exceptional architectural source from early modern Portugal called the “Livro das Fortalezas” (Book of Fortresses). This bound volume was created by a Portuguese squire named Duarte de Armas in 1509-1510. It includes a set of perspective drawings from two vantage-points of over 50 castles on the border between the kingdoms of Portugal and Spain and a set of measured plans for each site.
  <p>
    Student researchers began working on the following aspects of the project in Fall 2017:
  </p>
  <ul class="about_list">
    <li>3D reconstructions of the castles according to Duarte de Armas’ perspective drawings and measured plans</li>
    <li>Categorization and tagging of architectural features and images of daily life in each of the 160+ drawings in a cloud-based spatial database</li>
    <li>GIS analysis from data marking the location of each fortress (ex: viewshed analysis and least-cost-path analysis.)</li>
    <li>Combining digitized images of the drawings and plans with GIS layers in a 3D GIS scene in ArcGIS Pro.</li>
    <li>Research into procedural modeling techniques to help place 3d buildings of walled towns surrounding the castles.</li>
    <li>Re-create Duarte de Armas’ exaggerated landscapes virtually in an elastic terrain builder known as <a href="https://www.world-creator.com/">“World Creator.”</a></li>
  </ul>
  <p>
    Future plans (Summer 2018) include a photogrammetric analysis of the sites in order to determine with greater precision where Duarte de Armas had to be standing when he drew the perspectival drawings, how accurate he was in terms of perspective,
    scale and detail, and how these castles and towns have changed since 1510.
  </p>

  <h2>About the Source Materials</h2>
    <div class="source">
      <a href="http://a.co/aM7C0rJ">
      <div class="about_source_image" id="facsimile2016">
      </div></a>
      <div class="source_info">
      <h3>
        Codex A
      </h3>
      <ul class="about_list about_source_list">
        <li>The most complete version of the work, richly annotated</li>
        <li>Held at the National Archives of Torre do Tombo in Lisbon</li>
        <li>Consists of 120 Perspective Drawings and 51 Plan Drawings</li>
        <li>14” X 19” Parchment sheets</li>
        <li>Images on this site were taken from the 2016 facsimile, available on <a><%= link_to 'Amazon', "http://a.co/aM7C0rJ" %></a>.</li>
      </ul>
      </div>
    </div>

    <div class="source">
      <a href="http://bdh.bne.es/bnesearch/biblioteca/Armas,%20Duarte%20de;jsessionid=70F501198C6D074981182568578D8CD5">
      <div class="about_source_image" id="codexB">
      </div></a>
      <div class="source_info">

      <h3>
        Codex B:
      </h3>
      <ul class="about_list about_source_list">
        <li>Drawings are less detailed than those in Codex A</li>
        <li>12" X 16" Flax paper sheets</li>
        <li>Images on this site were retrieved from the <a><%= link_to 'Biblioteca Digital Hispanica', "http://bdh.bne.es/bnesearch/biblioteca/Armas,%20Duarte%20de;jsessionid=70F501198C6D074981182568578D8CD5" %></a>.</li>
      </ul>
    </div>
    </div>
    <div class="source">

      <a href="http://purl.pt/index/livro/aut/PT/439390.html">
      <div class="about_source_image" id="watercolors">
      </div></a>
      <div class="source_info">
        <h3>
          Watercolors
        </h3>
      <ul class="about_list about_source_list">
        <li>Fronteira de Portugal fortificada pellos reys deste Reyno</li>
        <li>Created by Brás Pereira in 1642</li>
        <li>Contains 55 watercolor drawings</li>
        <li>Images on this site were retrieved from the <a><%= link_to 'Biblioteca Nacional de Portugal', "http://purl.pt/index/livro/aut/PT/439390.html" %></a>.</li>
      </ul>
        </div>
    </div>


<h2>Credits</h2>

<h3>
  <a href="https://www.edwardtriplett.com">Edward Triplett</a>
  - Project Lead</h3>

<p>
  Ed is an Instructor in the
  <a href="https://aahvs.duke.edu/">Department of Art, Art History & Visual Studies</a>
  at Duke University and a member of the
  <a href="http://www.dukewired.org/">Wired! Lab</a>. He teaches courses on the design and construction of castles, monasteries and cathedrals during the medieval period, as well as a course on the application of GIS for the study of historical
  subjects. His field research and publications have focused on the architecture of Iberia’s military-religious orders during the Christian reconquest of Iberia, and the fortified border between Portugal and Spain in the 15th and 16th century.
</p>


<h3>Duke Student Collaborators</h3>

<div class="about_collaborators">
  <h4><a href="http://www.dukewired.org/person/cyan-deveaux/">Cyan DeVeaux</a> - Computer Science and Visual & Media Studies, 2020</h4>
  <h4>Rory Dierman - Engineering, 2019</h4>
  <h4>Cameron Esses - Engineering, 2019</h4>
  <h4><a href="http://www.dukewired.org/person/hillman-han/">Jiaye (Hillman) Han</a> - Art History, 2021</h4>
  <h4><a href="http://www.dukewired.org/person/stone-mathers/">Stone Mathers</a> - Computer Science, 2019</h4>
</div>

<h3>
  <a href="https://www.jocelyntriplett.com">Jocelyn Olson Triplett</a>
  - Developer</h3>

</div>
