<div class="about_page">

<h2>About the Project</h2>
  <p>
    The aim of this project is to spatially reconstruct an exceptional architectural source from early modern Portugal called the “Livro das Fortalezas” (Book of Fortresses). This bound volume was created by a Portuguese squire named Duarte de Armas in 1509-1510. It includes a set of perspective drawings from two vantage-points of over 50 castles on the border between the kingdoms of Portugal and Spain and a second set of measured plans for each site.
  <p>
    Student researchers began working on the following aspects of the project in Fall 2017:
  </p>
  <ul class="about_list">
    <li>3D reconstructions of the castles according to Duarte de Armas’ perspective drawings and measured plans</li>
    <li>Categorization and tagging of architectural features and images of daily life in each of the 160+ drawings into a cloud-based spatial database</li>
    <li>GIS analysis from data marking the location of each fortress (ex: viewshed analysis and least-cost-path analysis.)</li>
    <li>Combining digitized images of the drawings and plans with GIS layers in a 3D GIS scene in ArcGIS Pro.</li>
    <li>Research into procedural modeling techniques to help place 3d buildings of walled towns surrounding the castles.</li>
  </ul>
  <p>
    Future plans (Summer 2018) include a photogrammetric analysis of the sites in order to determine with greater precision where Duarte de Armas had to be standing when he drew the perspectival drawings, how accurate he was in terms of perspective,
    scale and detail, and how these castles and towns have changed since 1510.
  </p>

<h2>Credits</h2>

<h3>
  <a href="https://www.edwardtriplett.com">Edward Triplett</a>
  - Project Lead</h3>

<p>
  Ed is an Instructor in the
  <a href="https://aahvs.duke.edu/">Department of Art, Art History & Visual Studies</a>
  at Duke University and a member of the
  <a href="http://www.dukewired.org/">Wired! Lab</a>. He teaches courses on the design and construction of castles, monasteries and cathedrals during the medieval period, as well as a course on the application of GIS for the study of historical
  subjects. His field research and publications have focused on the architecture of Iberia’s military-religious orders during the Christian reconquest of Iberia, and the fortified border between Portugal and Spain in the 15th and 16th century.
</p>


<h3>Duke Student Collaborators</h3>

<div class="about_collaborators">
  <h4><a href="http://www.dukewired.org/person/cyan-deveaux/">Cyan DeVeaux</a> - Computer Science and Visual & Media Studies, 2021</h4>
  <h4>Cameron Esses - Engineering, 2019</h4>
  <h4><a href="http://www.dukewired.org/person/hillman-han/">Jiaye (Hillman) Han</a> - Art History, 2021</h4>
  <h4><a href="http://www.dukewired.org/person/stone-mathers/">Stone Mathers</a> - Computer Science, 2019</h4>
</div>

<h3>
  <a href="https://www.jocelyntriplett.com">Jocelyn Olson Triplett</a>
  - Lead Developer</h3>

<p>
  Jocelyn is a web developer with experience in building Ruby on Rails applications. Prior to becoming a developer, she worked at the University of Virginia Library, where she focused on digital collections creation and management.
</p>
</div>
