

<h1 class="title">Duarte de Armas' <em>Livro das Fortalezas</em></h1>
<br/>
<p>
  The aim of the Book of Fortresses project is to spatially reconstruct an exceptional architectural source from early modern Portugal called the Livro das Fortalezas (Book of Fortresses). The book contains 120 perspective drawings and architectural plans of more than 55 fortresses and fortified towns along the border between Portugal and Spain. It also contains a brief but clear itinerary followed by the book’s author (a Portuguese Squire named Duarte de Armas) when he traveled to each site in 1509.
</p>
<p>
  The digital project takes a multi-scale approach to the book by creating 3D models of each site according to Duarte de Armas’ specifications, orients a set of virtual billboards of each perspective drawing within a 3D landscape in ArcGIS Pro, and performs additional GIS analyses in order to investigate whether it is appropriate to refer to the castles as a "border line" or "chain." Thus far, 4 undergraduate students have created 8 parametric 3D models of the castles at the beginning of Duarte de Armas’ itinerary that are now georeferenced in a 3D GIS. The students have also been building up a database of information about each drawing using a cloud-based software called Airtable. This database also forms the back-end of the project website.
</p>
<p>
  Summer 2018 research will add another level of spatial analysis to the project in the form of photogrammetric scans of the extant masonry at the sites that were modeled during the 2017-18 academic year. This portion of the project is designed to discover the nature of the artist’s sense of perspective, how “panoramic” his perspective drawings were, and how many vantage points might have been required to capture the architecture and surrounding landscape in each image. This data will also be added as a layer in the 3D GIS system to help align the 3D models and test wall measurements identified in Duarte de Armas’ plan drawings.
</p>
<p>
  This site aggregates a lot of the work that has been done on the project, especially the 3D GIS layers. It is in a near constant state of development as more fortresses are modeled or scanned and as the images of the book are annotated and structured in the database. At the current stage there are also high-resolution scans of the most <a href="https://digitarq.arquivos.pt/details?id=3909707">recent facsimile</a> of the book. The site is organized by site according to Duarte de armas' original itinerary in 1509. 
</p>
<br/>
<p>
This project is in collaboration with <a href="http://www.dukewired.org/projects/the-book-of-fortresses/">Wired!</a> at Duke University.
</p>
<br/>
<br/>
<div class="parallax"></div>
<br/>
<br/>
<h2>Explore Recent Sites:</h2>
<br/>
<div id="home_sites_gallery_wrapper">
  <div id="home_sites_gallery">
    <!-- Castro Marim -->
      <a href="<%= location_path ('castro-marim') %>" class="home_site_card">
      <div class="home_site_card_image" id="home_site_1">
      </div>
      <div class="home_site_card_metadata">
        <br/>
        <h3>Castro Marim</h3>
      </div>
    </a>
    <!-- Alcoutim -->
    <a href="<%= location_path ('alcoutim') %>" class="home_site_card">
    <div class="home_site_card_image" id="home_site_2">
    </div>
    <div class="home_site_card_metadata">
      <br/>
      <h3>Alcoutim</h3>
    </div>
  </a>
    <!-- Serpa -->
    <a href="<%= location_path ('serpa') %>" class="home_site_card">
    <div class="home_site_card_image" id="home_site_3">
    </div>
    <div class="home_site_card_metadata">
      <br/>
      <h3>Serpa</h3>
    </div>
  </a>
  </div>
</div>
<br/>
<br/>
<br/>
<div id="home_row2">
  <h2>View All Locations: <%= link_to 'Locations', locations_path %></h2>
</div>
<br/>
<br/>
<br/>
<br/>
