
<h2>A Tour of Duarte De Armas' Perspective Drawings </h2>
<div class="videoWrapper">
  <iframe src="https://www.youtube.com/embed/x1uXNUfrMMQ?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<h3>An ArcGIS Online scene tracing the locations of Duarte de Armas' panoramic drawings compiled in <em>The Book of Fortresses</em> 1509-1510.</h3>
