// Start Paloma
document.addEventListener("DOMContentLoaded", function(event) {
  Paloma.start();
});

Paloma.controller('Locations', {
  show: function(){

    // Params passed from controller
    var collaborator = this.params.collaborator;
    var images = this.params.images;
    var plan_url = this.params.plan_url;

      // set variables
      var model = document.getElementById('3d_model');
      var plan_drawing = document.getElementById('location_plan');
      var image_cards = document.querySelectorAll(".location_image_card");
      var viewer_metadata = document.getElementById('current_image_metadata');


      var button_wrapper = document.getElementById('button_wrapper');
      // button_wrapper.innerHTML = <button type='button' class='openseadragon_button' name='image_button' onClick='reload_image(this)'>IMAGE</button>
      // <button type='button' class='agol_button' name='agol_button' onClick='display_agol_slide(this)'>LANDSCAPE</button>

      var agol_button = document.getElementsByName('agol_button')[0];
      agol_button.addEventListener('click', display_agol_slide);
      var image_button = document.getElementsByName('image_button')[0];
      image_button.addEventListener('click', reload_image);



      // if the location has a 3D model, display that in viewer
      if (model) {
        load_model();
      }
      // if the location does not have a 3D model, display the image for the first image card
      else {
        var initial_image = document.getElementById('image_0');
        var initial_viewer = document.getElementById('openseadragon_image_0');
        var initial_metadata = initial_image.querySelector('.location_image_card_metadata');
        initial_metadata.querySelectorAll('p').forEach(function(p) {
          x = p.cloneNode(true);
          viewer_metadata.appendChild(x);
      });
        initial_viewer.style.display = "";
        initial_image.style.border = "solid 2px red";
      }

      function add_listeners(){
        plan_drawing.addEventListener('click', load_plan);
        image_cards.forEach(function(card) {
          if (card.id != '3d_model') {
            card.addEventListener('click',load_image);
          }
        });
          if (model) {
            model.addEventListener('click',load_model);
          };
      }



      function hide_all(){
        // Hide all viewer divs
        [].forEach.call(document.querySelectorAll('.openseadragon'), function (e) {
          e.style.display = 'none';
        });
        // Set plan and all image card borders to gray
        image_cards.forEach(function(card){
          card.style.border = "solid 1px dimgray";
        });
        document.getElementById('location_plan').style.border = "solid 1px dimgray";
        // Clear any previous viewer metadata
        viewer_metadata.innerHTML = '';
        // Hide viewer buttons
        buttons = document.getElementById('button_wrapper');
        buttons.style.visibility = "hidden";
        // Set buttons' color to unclicked blue
        image_button.style.background = '#577C92';
        agol_button.style.background = '#577C92';
      }

      function load_image(){
        hide_all();
        // un-hide corresponding viewer div
        openseadragon_image = document.getElementById('openseadragon_'+this.id);
        openseadragon_image.style.display = "";
        // highlight clicked image card in red
        this.style.border = "solid 2px red";
        // display image metadata below viewer
        card_metadata = this.querySelector('.location_image_card_metadata');
        this.querySelectorAll('p').forEach(function(p) {
          x = p.cloneNode(true);
          viewer_metadata.appendChild(x);
        });
        // if image has ArcGIS, display buttons below viewer
        if (document.getElementById('agol_slide_'+this.id)) {
          buttons = document.getElementById('button_wrapper');
          buttons.style.visibility = '';
          image_button.id = this.id;
          agol_button.id = this.id;
        }
      }

      function load_model(){
        hide_all();
        // un-hide viewer div for 3D model
        let model_viewer = document.getElementById('3d_model_iframe');
        model_viewer.style.display = "";
        // select and style 3D model iframe
        let model_viewer_iframe = model_viewer.getElementsByTagName("iframe")[0];
        model_viewer_iframe.style.width = "100%";
        model_viewer_iframe.style.height = "100%";
        // highlight 3D model card
        model.style.border = "solid 2px red";
        // create model metadata & display below viewer
        model_metadata = document.createTextNode("Modeled by: " + collaborator);
        model_p = document.createElement('p');
        model_p.appendChild(model_metadata);
        viewer_metadata.appendChild(model_p);
      }

      function load_plan(){
        hide_all();
        // select & un-hide plan viewer div
        let openseadragon_plan = document.getElementById('openseadragon_plan');
        openseadragon_plan.style.display = "";
        // highlight plan drawing thumbnail
        plan_drawing.style.border = "solid 2px red";
        // create and display metadata below viewer
        location_name = document.getElementById('title').innerHTML
        plan_metadata = document.createTextNode(location_name + " Plan");
        plan_p = document.createElement('p');
        plan_p.appendChild(plan_metadata);
        viewer_metadata.appendChild(plan_p);
      }

      function display_agol_slide() {
        console.log("at display_agol_slide, this: "+this);
        console.log("at display_agol_slide, this.id: "+this.id);
        // landscape button changes color
        var agol_button = document.getElementsByName('agol_button')[0];
        agol_button.style.background = 'darkblue';
        var image_button = document.getElementsByName('image_button')[0];
        image_button.style.background = '#577C92';
        // un-hide agol viewer
        let agol_embed = document.getElementById('agol_slide_'+this.id);
        agol_embed.style.display = '';
        // style agol iframe
        let agol_viewer_iframe = agol_embed.getElementsByTagName("iframe")[0];
        agol_viewer_iframe.style.width = "100%";
        agol_viewer_iframe.style.height = "100%";
        // hide image openseadragon
        let current_image_viewer = document.getElementById('openseadragon_'+this.id);
        current_image_viewer.style.display = 'none';
      }

      function reload_image(){
        hide_all();
        // unhide image viewer
        openseadragon_image = document.getElementById('openseadragon_'+this.id);
        openseadragon_image.style.display = "";
        // image button turns dark blue, landscape goes back to initial blue
        this.style.background = 'darkblue';
        agol_button.style.background = '#577C92';
        // highlight image card thumbnail
        image_card = document.getElementById(this.id);
        image_card.style.border = "solid 2px red";
        // display image metadata below viewer
        card_metadata = image_card.querySelector('.location_image_card_metadata');
        image_card.querySelectorAll('p').forEach(function(p) {
          x = p.cloneNode(true);
          viewer_metadata.appendChild(x);
        });
        // if image has GIS, display buttons
        if (document.getElementById('agol_slide_'+this.id)) {
          buttons = document.getElementById('button_wrapper');
          buttons.style.visibility = '';
          agol_button.id = this.id;
        }
      }

      // viewer for plan


      var viewer = OpenSeadragon({
        id: "openseadragon_plan",
        tileSources: {
          type: 'image',
          url: plan_url
        }
      });

      // Create openseadragon viewer var for each image

      for (var i = 0, l = images.length; i < l; i++) {

        var viewer = OpenSeadragon({
                  id: "openseadragon_image_"+i,
                  tileSources: {
                    type: 'image',
                    url: images[i].url
                  }
                });

}
      add_listeners();


  }
});
