/*
Colors:

cream: #FEFBE1
charcoal: #514547
light brown: #D6BD95
medium brown: #8F674A
dark brown: #461F14
powder blue: #7793A1
light green: #BDBB89
red: #CD202A
dusty rose: #A2695B
*/


/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/* MAIN */
body {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Varela', sans-serif;
  background-color: #F9F5E7;
  color: #461F14;
  min-height: 100vh;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  margin: 5px 0 5px 0;
}

h3 {
  font-weight: bold;
  font-size: 1.5em;
  margin: 3px 0 3px 0;
}

/* unvisited link */
a:link {
    color: #3C4B68;
}

/* visited link */
a:visited {
    color: #3C4B68;
}

/* mouse over link */
a:hover {
    color: #CD202A;
}

/* selected link */
a:active {
    color: #CD202A;
}


/* HEADER */

header {
	background: #fff;
	width: 100%;
	height: 60px;
	/* position: fixed; */
	top: 0;
	left: 0;
	z-index: 100;
  color: #461F14;
}

header a {
  text-decoration: none;
}

header img {
	width: 100%;
}

#logo {
	margin: 5px 0 5px 20px;
	float: left;
	width: 200px;
	height: 50px;
	background: url(logos/BOF_Logo.png) no-repeat center;
  background-size: contain;
	display: block;
}

nav {
	float: right;
	padding: 10px;
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background-image: url(menu/menu-icon.png);
  background-size: contain;
}

a:hover#menu-icon {
	background-color: #7793A1;
	border-radius: 4px 4px 0 0;
}

header ul {
	list-style: none;
}

header li {
	display: inline-block;
	float: left;
	padding: 10px;
}

header li a {
  text-transform: capitalize;
}

header .current {
	color: #2262AD;
}

#header_border {
  position: relative;
  height: 22px;
  width: 100vw;
  background-image: url(border_narrow2.png);
  background-repeat: repeat-x;
}

/* END HEADER */
#site_wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content_wrapper {
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
	margin-top: 40px;
	width: 90vw;
	position: relative;
}

/* FOOTER */

#footer_border {
    position: relative;
    top: 23px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 22px;
    background-image: url(border_narrow_footer.png);
    background-repeat: repeat-x;
    text-align: center;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

	header {
		position: absolute;
	}

	#menu-icon {
		display:inline-block;
	}

	nav ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 1px solid #444;
		right: 10px;
		top: 48px;
		width: 40%;
		border-radius: 4px 0 4px 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:hover ul {
		display: block;
	}
}
