<div id="below_viewer_wrapper">
  <div id="button_wrapper">
      <button type="button" class="openseadragon_button" name="image_button">IMAGE</button>
      <button type="button" class="agol_button" name="agol_button">LANDSCAPE</button>
  </div>
  <div id="current_image_metadata_wrapper">
    <div id="current_image_metadata">
    </div>
  </div>
</div>
