<div id="openseadragon_image_<%= image_counter %>" class="openseadragon" style="display: none;"></div>
<% if image.agol_slide_embed %>
  <div id="agol_slide_image_<%= image_counter %>" class="openseadragon" style="display: none;">
    <%= image.agol_slide_embed .html_safe %>
  </div>
<% end %>
