<div id="location_previous_following">
  <div id="previous">
    <%= previous_location_arrow %>
    <p><%= previous_location_name %></p>
  </div>
  <div id="following">
    <p><%= following_location_name %></p>
    <%= following_location_arrow %>
  </div>
</div>
