<option value="<%= image.id %>"><%= select_image_title(image) %></option>

<% if image.agol_slide_embed %>
  <option value="<%= image.id%>L"><%= select_image_title(image) %> - 3D GIS</option>
<% end %>
