
<div id=locations-index-wrapper>
  <div id="locations_wrapper">
    <div id="locations_header_wrapper">
      <h1>Locations</h1>
      <%= render 'icon_key' %>
    </div>
    <div id="locations_list_wrapper">
      <%= render 'locations_list' %>
    </div>
  </div>
  <div id="locations_map">
    <div class="embed-container">
      <iframe  frameborder="0" scrolling="no" allowfullscreen src="https://www.arcgis.com/home/webscene/viewer.html?webscene=a8924bf93b41447f92541bf553b6b4e7&viewpoint=cam:-8.03415897,36.16995653,563384.379;4.565,29.649&ui=min"></iframe>
    </div>
  </div>
</div>
