
<h1>Locations</h1>

<table id="locations_list">
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.sort_by{|location| location.primary_site_name}.each do |location| %>
      <tr>
        <td><%= location.primary_site_name %></td>
        <td><%= link_to 'Show', location %></td>
      </tr>
    <% end %>
  </tbody>
</table>
