<ul>
  <li>
    <a class="current"><%= link_to 'HOME', root_path %></a>
  </li>
  <li>
    <a><%= link_to 'ABOUT', "/about" %></a>
  </li>
  <li>
    <a><%= link_to 'LOCATIONS', locations_path %></a>
  </li>
  <li>
    <a><%= link_to 'WIRED!', "http://www.dukewired.org/" %></a>
  </li>
</ul>
